

<div class="dashboard-overview">

    <!-- Student Population Chart -->

    <div class="overview-card chart-card">

        <div class="card-header">

            <h3>Student Population</h3>

            <button class="app-btn app-btn-light">
                View Report
            </button>

        </div>


        <div clss="chart-container">

            <canvas
            id="studentChart"></canvas>

        </div>

       

    </div>

    <!-- School Health Monitor -->

    <div class="overview-card health-card">

        <div class="card-header">

            <h3>School Health Monitor</h3>

        </div>

        <div class="health-item">

            <span>🟢 Firebase</span>

            <strong>Connected</strong>

        </div>

        <div class="health-item">

            <span>🟢 Authentication</span>

            <strong>Online</strong>

        </div>

        <div class="health-item">

            <span>🟢 Database</span>

            <strong>Healthy</strong>

        </div>

        <div class="health-item">

            <span>🟢 Internet</span>

            <strong>Connected</strong>

        </div>

        <div class="health-item">

            <span>🟢 Last Backup</span>

            <strong>Today 09:30 AM</strong>

        </div>

    </div>

    <div class="overview-card">

      <div class="card-header">

        <h3>Boys vs Girls</h3>

        <button class="app-btn app-btn-light">

            View Report

        </button>

     </div>

      <div class="chart-container">

        <canvas id="genderChart"></canvas>

      </div>










    </div>

    <div class="overview-card">

        <div class="card-header">

            <h3> 
                Monthly Fee Collection

            </h3>

            <button
             class="app-btn
             app-btn-light">
              View Report
            </button>
           

        </div>

        <div
         class="chart-container">
           <canvas
            id="feesChart">
           </canvas>
        </div>



    </div>



    <div class="overview-card">

        <div class="card-header">

            <h3> Attendance Trend</h3>

            <button  class="app-btn
            app-btn-light" >

            View Report


            </button>

        </div>


        <div
        class="chart-container">

        <canvas  id="attendanceChart"></canvas>
        
        </div>
    </div>


</div>










    

    

