<div class="app-topbar">

    <!-- Left -->
    <div class="topbar-left">
        <button id="sidebarToggle" class="sidebar-toggle">

    ☰

</button>
       
        <div class="topbar-title">

            <h2 id="greeting">
                Good Morning, Administrator
            </h2>

            <p id="todayDate">
                Monday | Academic Year 2026/2027
            </p>

        </div>

    </div>

    <!-- Right -->

    <div class="topbar-right">

        <input
            type="search"
            class="app-input"
            placeholder="Search students, staff, parents...">

        <button class="app-btn app-btn-light" title="Notifications">
            🔔
        </button>

        <button class="app-btn app-btn-light" title="Messages">
            💬
        </button>

        <button class="app-btn app-btn-light" title="Dark Mode">
            🌙
        </button>

        <div class="topbar-profile">

            <img src="assets/images/avatar.png"
                 class="profile-image"
                 alt="Profile">

            <div>

                <strong>Administrator</strong>

                <small>Super Admin</small>

            </div>

        </div>

    </div>

</div>